.header {
    display: flex;
    height: 50px;
    border-bottom: solid 1px;
    width: 100%;
}

.logo {
    height: 100%;
    padding: 5px;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}